{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block content %}
<div class="page-wrapper">
		<div class="content container-fluid pb-0">
			
			<div class="row">
    <h2>Create new Commentaire</h2>

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('app_commentaire_index') }}">back to list</a>
            </div>            </div>
            </div>

{% endblock %}
